<div id="home">
    <div class="name_page">
        <span>Mentions Légales</span>
    </div>
    <div class="container" style="text-align: justify;">
        <h1>1. Publication</h1>
        <p>Directeur de la publication et webmaster : Salma Oussous</p>
        <h2>Hébergeur :</h2>
        <p>
            <a href="https://github.com/about" target="_blank">GitHub</a>
        </p>

        <p>
            Ce site web https://salmaoussous.github.io, a été conçu et réalisé par Salma Oussous.
        </p>

        <h1>2. Conditions générales d’utilisation du site</h1>
        <p>
            L’utilisation du site https://salmaoussous.github.io implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs
            du site sont donc invités à les consulter de manière régulière.
        </p>

        <h1>
            3. Respect de la vie privée et des données personnelles</h1>

        <p>
            Les données recueillies sur le site https://salmaoussous.github.io sont destinées à des fins de communications et de contacts. Elles ne seront en aucun cas mises à disposition ou vendues à des tierces parties. Aucun traitement de données personnelles
            n'est effectué. Conformément à la loi n°78-17 dite « Informatique et Libertés » du 6 janvier 1978, vous disposez d’un droit d’accès, de rectification, de suppression des données vous concernant. Ce droit peut s’exercer en ligne en adressant
            un email au webmaster (Salma Oussous).
        </p>

        <h1>
            4. Propriété intellectuelle</h1>
        <p>
            L'emoticone du coeur blanc a été copié du site <a href="https://emojipedia.org/" target="_blank">EmojiPedia</a>. Les graphismes, le design ainsi que les illustrations ont été créé/proviennent du site <a href="https://www.canva.com/" target="_blank">Canva</a>.
            Salma Oussous est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur l’ensemble des autres éléments accessibles sur le site, notamment les textes, images, graphismes. Toute reproduction, représentation, modification,
            publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de leur propriétaire. Toute exploitation non autorisée du site ou de l’un quelconque
            des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
        </p>

        <h1>5. Limitation de responsabilité</h1>
        <p>
            Les sites reliés directement ou indirectement au présent site https://salmaoussous.github.io ne sont pas sous son contrôle. En conséquence, l’auteur du site n'assume aucune responsabilité quant aux informations publiées sur ces sites. Les liens avec des
            sites extérieurs ne sont fournis qu'à titre de commodité et n'impliquent aucune caution quant à leur contenu. Le site https://salmaoussous.github.io ne pourra être tenu responsable des dommages directs et indirects causés au matériel de l’utilisateur
            lors de l’utilisation du site, et résultant de l’apparition d’un bug ou d’une incompatibilité. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière
            génération mis-à-jour.
        </p>

        <h1>6. Droit applicable et attribution de juridiction</h1>
        <p>Tout litige en relation avec l’utilisation du site https://salmaoussous.github.io est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.
        </p>
        <h1>7. Lexique</h1>
        <p>Informations personnelles : « les informations qui permettent, sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).
        </p>

    </div>

</div>
<!-- Footer -->
<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <img src="../assets/img/portfolio/more.svg" width="50px">
    <div class="footer-copyright text-center py-3">
        <p>Legal Notice</p>
        <a> Salma Oussous ©</a> 2020
        <p>Personal design made with <a href="https://www.canva.com/" target="_blank">Canva</a><br/>Made with 🤍 using Angular</p>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->