<div class="principal" id="home">
    <div class="name_page">
        <span>Home</span>
    </div>
    <div class="container home_container">
        <div class="row home">
            <div class="col-md-2 pic_name">
                <div class="portfolio">
                    <span>SO</span>
                    <span>Portfolio</span>
                </div>
                <div class="profile">
                    <img src="../assets/img/portfolio/profile.svg" width=130px>
                </div>
                <div class="name">
                    <span>Salma Oussous</span>
                </div>
            </div>

            <div class="col-md-6 job_illust">
                <span>Full-stack developer</span>
                <img src="../assets/img/portfolio/desk.svg" width=300px>

            </div>

            <div class="col-md-4 navbar">
                <div class="linked_navbar">
                    <a href="#home">Home</a>
                    <a href="#about">About</a>
                    <a href="#projects">Projects</a>
                    <a href="#contact">Contact</a>
                </div>
            </div>
        </div>

    </div>


</div>

<!-- ABOUT -->
<div class="principal" id="about">
    <div class="name_page">
        <span>About</span>
        <div class="navbar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </div>
    </div>
    <div class="container about_container">
        <div class="row about">
            <div class="col-md-6 presentation">
                <div class="abt_me">
                    <span>Name is Salma Oussous</span>
                    <span>Degree in Computer Science</span>
                    <span>Living in France</span>
                    <img src="../assets/img/portfolio/code.svg" width=180px id="code">
                </div>
                <div class="abt_me_2">
                    <p>While I was studying in College, I worked partially (intern) in a Start-up called<a href="https://www.aquilapp.fr/" target="_blank" style="text-decoration: none;"> Aquil'App</a> as a full-stack developer. I earned so much experience
                        as I fell in love with the Dev world. Now I'm making it my full time job
                    </p>
                </div>
            </div>
            <div class="col-md-6 skills">
                <span>My skills are : </span>
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip>PHP</mat-chip>
                    <mat-chip>React</mat-chip>
                    <mat-chip>Angular</mat-chip>
                    <mat-chip>HTML</mat-chip>
                    <mat-chip>CSS (sass, scss)</mat-chip>
                    <mat-chip>Laravel</mat-chip>
                    <mat-chip>PrestaShop</mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <div class="links">
            <a href="https://www.linkedin.com/in/salma-oussous/" target="_blank">Linkedin</a>
            <a href="https://github.com/SalmaOussous" target="_blank">GitHub</a>
        </div>
    </div>

</div>

<!-- PROJECTS -->
<div class="principal" id="projects">
    <div class="name_page">
        <span>Projects</span>
        <div class="navbar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </div>
    </div>
    <div class="container projects_container">
        <div class="row projects">
            <div class="col-md-6 project">
                <input type="hidden" #selection>
                <div class="edlc">
                    <div class="card">
                        <div class="card-body" (click)="selection.value = 'edlc'">
                            <h5 class="card-title">La boutique des éleveurs</h5>
                        </div>
                    </div>
                </div>
                <div class="cdc">
                    <div class="card">
                        <div class="card-body" (click)="selection.value = 'CDC'">
                            <h5 class="card-title">Coup de Coeur Immo</h5>
                        </div>
                    </div>
                </div>
                <div class="prestapp">
                    <div class="card">
                        <div class="card-body" (click)="selection.value = 'PrestApp'">
                            <h5 class="card-title">PrestApp</h5>
                        </div>
                    </div>
                </div>
                <div class="zimmer">
                    <div class="card">
                        <div class="card-body" (click)="selection.value = 'Zimmer'">
                            <h5 class="card-title">Zimmer</h5>
                        </div>
                    </div>
                </div>
                <div class="prest">
                    <div class="card">
                        <div class="card-body" (click)="selection.value = 'Pa'">
                            <h5 class="card-title">Prestapp WebApp</h5>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 project" [ngSwitch]="selection.value">
                <div class="card work_done" *ngSwitchDefault>
                    <div class="card-body">
                        <img src="../assets/img/edlc.PNG" width="100%">
                        <a href="http://laboutiquedeseleveurs.fr/" target="_blank">Visit the website</a>
                        <ul>
                            <li>
                                Mockup Integration
                            </li>
                            <li>
                                Module development
                            </li>
                        </ul>
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip>PHP</mat-chip>
                            <mat-chip>Sass</mat-chip>
                            <mat-chip>PrestaShop</mat-chip>
                            <mat-chip>MySQL</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
                <div class="card work_done" *ngSwitchCase="'PrestApp'">
                    <div class="card-body">
                        <img src="../assets/img/pa.PNG" width="100%">
                        <a href="https://www.prestapp.eu/" target="_blank">Visit the website</a>
                        <ul>
                            <li>
                                Front integration
                            </li>
                            <li>
                                Laravel API to communicate with wordpress and get Posts
                            </li>
                            <li>
                                Laravel API to send sms with SMSPartner
                            </li>
                            <li>
                                Laravel API to send mails with SendInBlue
                            </li>
                        </ul>
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip>ReactJs</mat-chip>
                            <mat-chip>PHP</mat-chip>
                            <mat-chip>Laravel</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
                <div class="card work_done" *ngSwitchCase="'CDC'">
                    <div class="card-body">
                        <img src="../assets/img/cdc.PNG" width="100%">
                        <a href="http://coupdecoeur.immo/" target="_blank">Visit the website</a>
                        <ul>
                            <li>
                                Front integration
                            </li>
                            <li>
                                Development of buyers and sellers tunnel steps
                            </li>
                            <li>
                                Front integration of the back office
                            </li>
                        </ul>
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip>PHP</mat-chip>
                            <mat-chip>Laravel</mat-chip>
                            <mat-chip>ReactJs</mat-chip>
                            <mat-chip>MySQL</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
                <div class="card work_done" *ngSwitchCase="'Pa'">
                    <div class="card-body">
                        <img src="../assets/img/prestapp.png" width="100%">
                        <a href="https://webapp.prestapp.eu/" target="_blank">Visit the website</a>
                        <ul>
                            <li>
                                Optimizing the front of the PrestApp BackOffice
                            </li>
                            <li>
                                Using SendInBlue Api to make transactional emails depending on the situation
                            </li>
                        </ul>
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip>ReactJs</mat-chip>
                            <mat-chip>Angular</mat-chip>
                            <mat-chip>MongoDB</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
                <div class="card work_done" *ngSwitchCase="'Zimmer'">
                    <div class="card-body">
                        <img src="../assets/img/zimmer.PNG" width="100%">
                        <a href="zimmersa.com" target="_blank">Visit the website</a>
                        <ul>
                            <li>
                                SEO Optimization with lazyloading
                            </li>
                            <li>
                                Audit reporting
                            </li>
                        </ul>
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip>PHP</mat-chip>
                            <mat-chip>PrestaShop</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- CONTACT -->
<div class="principal" id="contact">
    <div class="name_page">
        <span>Contact</span>
        <div class="navbar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </div>
    </div>
    <div class="container contact_container">
        <div class="row contact_row">
            <div class="col-md-12 contact">
                <div class="contact">
                    <h5>I see you want to get in touch !</h5>
                    <div class="card">
                        <div class="card-body">
                            <form class="example-form" [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Full Name</mat-label>
                                    <input matInput name="fullname" formControlName="fullname" #fullname maxlength="100">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Email</mat-label>
                                    <input matInput name="email" formControlName="email" #email maxlength="256">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Phone</mat-label>
                                    <input type="tel" name="phone" formControlName="phone" matInput>
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Message</mat-label>
                                    <input matInput name="message" #message formControlName="message" maxlength="256" id="message">
                                </mat-form-field>
                                <div class="send">
                                    <div #confirmation></div>
                                    <button type="submit" mat-raised-button [disabled]="!FormData.valid">SEND</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>



<!-- Footer -->
<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <img src="../assets/img/portfolio/more.svg" width="50px">
    <div class="footer-copyright text-center py-3">
        <a> Salma Oussous ©</a> 2020
        <p>Personal design made with <a href="https://www.canva.com/" target="_blank">Canva</a><br/>Made with 🤍 using Angular</p>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->